<!-- Model -->
<ng-template #content let-modal let-ref="dialogRef" class="resultContainer">
  <div class="modal-header">
    <h6 class="modal-title text-center">OB, GTN, AAS & Cost Log Comparison Result</h6>
    <button class="downloadButton" (click)="downloadExcel()">Download Excel</button>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <nb-icon icon="close"></nb-icon>
    </button>
  </div>
  <div class="modal-body">
    <table id="table" class="table w-auto small table-sm table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th colspan="2" style="font-size: 16px;">Order Book</th>
          <th></th>
          <th colspan="1" style="font-size: 16px;">GTN Report</th>
          <th></th>
          <th colspan="1" style="font-size: 16px;">AA Summary</th>
          <th></th>
          <th colspan="1" style="font-size: 16px;">Cost Log</th>
        </tr>
        <tr>
          <th>Key</th>
          <th>FOB Price</th>
          <th></th>
          <th>Unit Price</th>
          <th></th>
          <th>FOB Price or Reviced FOB</th>
          <th></th>
          <th>MMX or BUR or ROSS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of data">
          <td>{{ x.compositeKey }}</td>
          <td [ngStyle]="{'background-color':x.FOBPrice === x.UnitPrice ? x.FOBPrice === x.FOBorRFOB ? x.FOBPrice === x.CLLogic ? '' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)'}">
            {{ x.FOBPrice }}
          </td>
          <td></td>
          <td [ngStyle]="{'background-color':x.FOBPrice === x.UnitPrice ? x.FOBPrice === x.FOBorRFOB ? x.FOBPrice === x.CLLogic ? '' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)'}">
            {{ x.UnitPrice }}
          </td>
          <td></td>
          <td [ngStyle]="{'background-color':x.FOBPrice === x.UnitPrice ? x.FOBPrice === x.FOBorRFOB ? x.FOBPrice === x.CLLogic ? '' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)'}">
            {{ x.FOBorRFOB }}
          </td>
          <td></td>
          <td [ngStyle]="{'background-color':x.FOBPrice === x.UnitPrice ? x.FOBPrice === x.FOBorRFOB ? x.FOBPrice === x.CLLogic ? '' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)' : 'rgb(252, 19, 19)'}">
            {{ x.CLLogic }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <style type="text/css">
    .red
    {
        background-color:rgb(252, 19, 19);
    }
  </style>
  <!-- pagination -->
  <!-- <div class="modal-footer justify-content-center">
    <n-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
      (pageChange)="refresh()">
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="form-group d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1"
              style="margin-right:5px;">
              Page
            </label>
            <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
              id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
              (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
              style="width: 2.5rem" />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
              of {{pages.length}}
            </span>
          </div>
        </li>
      </ng-template>
    </n-pagination>
  </div> -->
</ng-template>
