<!-- Model -->
<ng-template #content let-modal let-ref="dialogRef" class="resultContainer">
  <div class="modal-header">
    <h6 class="modal-title text-center">OB, AAS & GTN Comparison Result</h6>
    <button class="downloadButton" (click)="downloadExcel()">Download Excel</button>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <nb-icon icon="close"></nb-icon>
    </button>
  </div>
  <div class="modal-body">
    <table id="table" class="table w-auto small table-sm table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th colspan="4" style="font-size: 16px;">Order Book</th>
          <th></th>
          <th colspan="2" style="font-size: 16px;">AA Summary</th>
          <th></th>
          <th colspan="1" style="font-size: 16px;">GTN Report</th>
        </tr>
        <tr>
          <th>Key</th>
          <th>Req Del Date</th>
          <th>Plan Del Date</th>
          <th>CO Qty</th>
          <th></th>
          <th>CFM Sail By</th>
          <th>Units</th>
          <th></th>
          <th>Ship Window End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of data">
          <td>{{ x.compositeKey }}</td>
          <td [ngStyle]="{'background-color':x.ReqDelDateComp === x.ShipWindowEndDate ? x.CFMSailBy === x.ShipWindowEndDate ? '' : 'rgb(252, 19, 19)'  : 'rgb(252, 19, 19)'}">
            {{ x.ReqDelDate }}
          </td>
          <td [ngStyle]="{'background-color':x.PlanDelDateComp === x.ShipWindowEndDate ? x.CFMSailBy === x.ShipWindowEndDate ? '' : 'rgb(252, 19, 19)'  : 'rgb(252, 19, 19)'}">
            {{ x.PlanDelDate }}
          </td>
          <td [ngStyle]="{'background-color':x.COQty === x.Units ? '' : 'rgb(252, 19, 19)'}">
            {{ x.COQty }}
          </td>
          <td></td>
          <td [ngStyle]="{'background-color':x.ReqDelDateComp === x.ShipWindowEndDate ? x.CFMSailBy === x.ShipWindowEndDate ? '' : 'rgb(252, 19, 19)'  : 'rgb(252, 19, 19)'}">
            {{ x.CFMSailBy }}
          </td>
          <td [ngStyle]="{'background-color':x.Units === x.COQty ? '' : 'rgb(252, 19, 19)'}">
            {{ x.Units }}
          </td>
          <td></td>
          <td [ngStyle]="{'background-color':x.ReqDelDateComp === x.ShipWindowEndDate ? x.CFMSailBy === x.ShipWindowEndDate ? '' : 'rgb(252, 19, 19)'  : 'rgb(252, 19, 19)'}">
            {{ x.ShipWindowEndDate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <style type="text/css">
    .red
    {
        background-color:rgb(252, 19, 19);
    }
  </style>
  <!-- pagination -->
  <!-- <div class="modal-footer justify-content-center">
    <n-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
      (pageChange)="refresh()">
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="form-group d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1"
              style="margin-right:5px;">
              Page
            </label>
            <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
              id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
              (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
              style="width: 2.5rem" />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
              of {{pages.length}}
            </span>
          </div>
        </li>
      </ng-template>
    </n-pagination>
  </div> -->
</ng-template>
